html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .capture-container {
    text-align: center; /* Center the text inside the div */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  